.WeatherForecast {
    border: ridge;
    border-color: #FFCA2C;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.WeatherForecast .icon canvas {
    padding: 0;
}


.WeatherForecast-temp-min {
    opacity: 0.6;
    margin-left: 5px;
}



