.WeatherForecast {
    border: solid;
    border-color: #FFCA2C;
    border-style:dotted;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}



.WeatherForecast-temp-min {
    opacity: 0.6;
    margin-left: 5px;
}



